version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  backend:
    build: ./backend-node
    container_name: backend-node
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/college_portal
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://rabbitmq
      - PORT=5000
    depends_on:
      - mongodb
      - redis
      - rabbitmq
    networks:
      - app-network

  ml-flask:
    build: ./ml-flask
    container_name: ml-flask
    restart: always
    ports:
      - "8000:8000"
    command: python app.py
    networks:
      - app-network

  worker:
    build: ./ml-flask
    container_name: ml-worker
    restart: always
    environment:
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
    command: python worker.py
    depends_on:
      - redis
      - rabbitmq
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
